.small-btn {
  padding: 0;
  line-height: 14px;
}
.big-btn {
  width: 90%;
  margin: 5%;
}
.user-details-tab-group .mat-tab-body-wrapper {
  padding: 20px 0;
}
.profile-attribute {
  margin-bottom: 10px;
  .profile-label {
    color: red;
    margin-bottom: 5px;
  }
}
