@import "../../../theme.scss";
.small-btn {
  padding: 0;
  line-height: 14px;
}
.big-btn {
  width: 90%;
  margin: 5%;
}
.user-details-tab-group .mat-tab-body-wrapper {
  padding: 20px 0;
}
.profile-attribute {
  margin-bottom: 10px;
  .profile-label {
    color: red;
    margin-bottom: 5px;
  }
}

.label {
  color: red;
  margin-top: 15px;
}

.photos-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  grid-gap: 15px;
}

.subscribe-btn {
  width: 200px;
  margin: 30px 0;
}

.left-nav {
  .mat-h2 {
    margin-bottom: 5px;
  }
  button {
    display: block;
    padding: 0;
    min-width: 30px;
    text-decoration: underline;
  }
}
