@import '../../../theme.scss';
.create-account-page {
    width:100%;
    height:100vh;
    display: grid;
    grid-template-columns: 100px 382px auto 280px;
    grid-template-rows: auto 650px auto;
    background-image: url("/assets/create-account/1.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #cccccc;
    .create-account-card {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        height:650px;
        width:350px;
        display: grid;
        .logo {
            justify-self: center;
        }
        .create-account-title {
            font-size: 1.1rem;
            padding: 10px 16px;
            justify-self: center;
        }
        .mat-form-field {
            width:100%;
        }
        .mat-card-actions {
            display: grid;
            text-align: center;
            .crate-account-btn {
                justify-self: center;
            }
        }
    }
    .signin-btn-section {
        grid-column-start: 4;
        grid-row-start: 1;
        justify-items: end;
        margin-top:10px;
        color: white;
    }
}
